.common-card-root {
	border: 2px solid #999999;
	width: 300px;
	height: calc(300px + 6em);
	border-radius: 1em;

	cursor: pointer;

	&:hover {
		background-color: #c8c8c8;
	}
}

.common-card-image {
	width: 300px;
	height: 300px;
	border-radius: 1em;

	&:hover {
		opacity: 0.8;
	}
}

.common-card-content {
	padding: 1em;
}

.common-card-title,
.common-card-body {
	margin: 0;
}
