.news-card {
	border: 2px groove #838383;
	padding-left: 3em;
	border-radius: 1em;
	margin: 1em 0 1em 0;
	cursor: pointer;

	&:hover {
		background-color: #c8c8c8;
	}
}

.news-tag {
	color: #fff;
	padding: 0.5em;
	border-radius: 0.5em;
	width: 6em;
	display: inline-block;
	text-align: center;
	margin-right: 3em;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

@media (max-width: 768px) {
	/* スマホ用 */
	.news-card {
		padding-left: 1em;
	}
	.news-tag {
		margin-right: 1em;
	}
}

.show-more-wrapper {
	display: inline-block;
	justify-content: center;
	margin-top: 1em;
	cursor: pointer;
	margin-bottom: 2em;
}

.news-arrow {
	position: relative;
	top: 6px;
	left: 6px;
}
